.base-appear { opacity: 0.01 }
.base-appear.base-appear-active { opacity: 1; transition: opacity 0.5s ease-in; }

@keyframes highlight {
    0% {
        background: orange; 
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 2s;
}

@keyframes outlinehighlight {
    0% {
        outline: green 3px solid; 
    }
    100% {
        outline: transparent 0px none;
    }
}

.outlinehighlight {
    animation: outlinehighlight 2s;
}
