/*.base-appear { opacity: 0.01 }
.base-appear.base-appear-active { opacity: 1; transition: opacity 0.5s ease-in; }
*/

:root {
    --sourcetop:100px;
    --sourceleft:50px;
    --sourceheight:100px;
    --sourcewidth:100px;
}

@keyframes maskdrill {
    0% {
        top:var(--top);
        left:var(--left);
        height:var(--height);
        width:var(--width);
        background-color: #e8e8e8;
        opacity:0;
        box-sizing: border-box;
    }
    20% {
        top:var(--top);
        left:var(--left);
        height:var(--height);
        width:var(--width);
        background-color: #e8e8e8;
        opacity:1;
        box-sizing: border-box;
    }
    100% {
        top:var(--top);
        left:var(--left);
        height:var(--height);
        width:var(--width);
        background-color: #e8e8e8;
        opacity:0;
        box-sizing: border-box;
    }
}


@keyframes origindrill {
    0% {
        top:var(--sourcetop);
        left:var(--sourceleft);
        height:var(--sourceheight);
        width:var(--sourcewidth);
        background-color: lightblue;
        opacity:.1;
        box-sizing: border-box;
    }
    50% {
        top:var(--targettop);
        left:var(--targetleft);
        height:var(--targetheight);
        width:var(--targetwidth);
        background-color: palegoldenrod;
        opacity:1;
        box-sizing: border-box;
    }
    100% {
        top:var(--targettop);
        left:var(--targetleft);
        height:var(--targetheight);
        width:var(--targetwidth);
        background-color: lightgreen;
        opacity:0;
        box-sizing: border-box;
    }
}


@keyframes elementdrill {
    0% {
        top:var(--sourcetop);
        left:var(--sourceleft);
        height:var(--sourceheight);
        width:var(--sourcewidth);
        background-color: green;
        opacity:0;
    }
    30% {
        top:var(--targettop);
        left:var(--targetleft);
        height:var(--targetheight);
        width:var(--targetwidth);
        background-color: goldenrod;
        opacity:1;
    }
    100% {
        top:var(--targettop);
        left:var(--targetleft);
        height:var(--targetheight);
        width:var(--targetwidth);
        background-color: green;
        opacity:0;
    }
}

@keyframes elementunwind {
    
}

.maskdrill {
    position:absolute;
    border: 6px solid silver;
    animation: maskdrill 1.25s;
    z-index: 4;
    border-radius: 8px;
}

.elementdrill {
    position:absolute;
    border: 6px solid silver;
    animation: elementdrill 1s .25s;
    z-index: 10;
    border-radius: 8px;
}

.origindrill {
    position:absolute;
    border: 6px solid silver;
    animation: origindrill .5s;
    z-index: 5;
    border-radius: 8px;
}

.elementunwind {
    animation: elementunwind 2s;
}

@keyframes highlight {
    0% {
        background: orange; 
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 2s;
}

@keyframes outlinehighlight {
    0% {
        outline: green 0px solid; 
    }
    50% {
        outline: orange 8px solid;
    }
    100% {
        outline: transparent 0px none;
    }
}

.outlinehighlight {
    animation: outlinehighlight 1s;
}
